html
	head
	body(style='background-color:#DBF6FF;')
		include ./header.jade
		h3 Publisher site 1
		p 
		| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras ac lorem at tortor egestas varius ac quis felis. In lobortis, nisi at ultrices porta, eros lectus facilisis leo, ut ullamcorper ligula ligula ac arcu. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam pretium posuere hendrerit. Vestibulum convallis, libero in sodales iaculis, leo quam finibus urna, vitae eleifend neque erat non ipsum. Maecenas et augue at tellus dapibus volutpat. Vivamus scelerisque dolor non suscipit dignissim. Donec scelerisque ligula non lectus feugiat bibendum. Mauris maximus feugiat ultricies. Morbi sed nunc pretium dui placerat lacinia sit amet eu sem. Aenean non vestibulum ex. Morbi erat ligula, malesuada vel dictum non, vulputate ut lacus.	
		include ./stylepoints_widget.jade
		p 
		| Ut interdum orci et erat laoreet tincidunt. Aliquam at commodo augue, sit amet elementum purus. Sed at mi aliquet, iaculis est non, aliquam erat. Curabitur eget felis sed lorem placerat tincidunt. Donec ut interdum dolor. Phasellus elementum tellus id elit lobortis viverra. Nullam est mauris, viverra ac volutpat eget, cursus vitae metus. Nulla et dapibus nisi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
		p 
		| publisher session #{req.session.id}