html
	head
	body(style='background-color:#DBF6FF;')
		h3 Publisher site 1
		div 
		| Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt, diam id tempus tristique, orci nunc mollis orci, ut cursus elit tellus quis metus. Phasellus ullamcorper vitae nisi vel maximus. In hendrerit blandit nunc. Mauris ullamcorper viverra dui, sit amet fermentum nibh varius sit amet. Sed venenatis, elit vel tincidunt interdum, velit lacus venenatis erat, vitae elementum lectus sapien at libero. Curabitur rhoncus, lacus quis iaculis cursus, ipsum risus bibendum dolor, in convallis erat quam vel diam. Integer ornare mauris sed quam feugiat malesuada. Ut ut turpis sed risus mattis porta.		
		div 
			iframe(width='400', height='166', scrolling='no', frameborder='no', src='http://local.stylepoints.com')
		div 
		| Suspendisse potenti. Phasellus in ultrices diam, eget maximus sapien. Integer a mauris eleifend, efficitur felis sit amet, bibendum velit. Maecenas in ante non odio pharetra dignissim quis quis lacus. Praesent vestibulum ullamcorper elementum. Cras vulputate quis ante a blandit. Nunc non ligula dui. Integer ante nulla, malesuada sit amet lorem ac, pellentesque pretium sem. Curabitur id tellus vitae elit sagittis eleifend. Cras interdum porttitor urna. Integer pretium ullamcorper purus, at faucibus lacus finibus vel. Suspendisse ut tristique nunc, non maximus sapien. Cras justo sapien, ornare eu nulla ut, imperdiet venenatis augue. Nullam ultricies urna vitae neque feugiat finibus. Cras massa enim, pharetra vitae pellentesque at, suscipit in ante. Ut scelerisque ipsum sed mattis tincidunt.