html
    head
        base(target="_parent")
    body  
        include ./header.jade      
        h3 Stylepoints main site
        p Welcome stylepoints user #{req.session.id}
        if(req.query.publisher_name)
            p You have come from #{req.query.publisher_name}
                if(req.query.publisher_session)
                |  as user #{req.query.publisher_session}

